<div class="container">

<h2>{{'Create Notice' | transl}}</h2>

<div id="form-band" class="form-band">

<div class="div-form-container" ng-controller="NoticeCreateFormCtrl" >

<div class="div-form-tabs">
	<div class="div-form-selected-tab"><span>{{'Create notice' | transl}}</span></div>
</div>



<div class="div-form">

<div ng-include=plugin.path></div>

</div><!-- div-form -->

<!-- cue messages (e.g. wallet balance -->
<div class="div-form-cue"></div>

</div><!-- div-form-container -->

</div><!-- form-band -->



</div> <!-- /.container -->