<div class="container">

<h2>{{'Modify Notice' | transl}}</h2>

<div id="form-band" class="form-band">

<div class="div-form-container" ng-controller="NoticeModifyFormCtrl" >

<div class="div-form-tabs">
	<div class="div-form-selected-tab"><span>{{'Modify notice' | transl}}</span></div>
	<div class="div-form-tab"><span><a ui-sref="home.noticebooks.notices.deploy({index: noticebookindex, number: noticeindex})">{{'Publish notice' | transl}}</a></span></div>
</div>


<div class="div-form">

<div ng-include=plugin.path></div>

</div><!-- div-form -->

<!-- cue messages (e.g. wallet balance -->
<div class="div-form-cue"></div>

</div><!-- div-form-container -->

</div><!-- form-band -->


<div class="band-separator"><hr></div>

<div id="view-band" class="view-band">

<div class="div-view-container" >

<div ng-include='"./dapps/noticebook/angular-ui/partials/notice-cover-view.html"'></div>

<div class="band-separator"><hr></div>

<div id="NoticeView" ng-controller="NoticeViewCtrl">

<div ng-include=plugin.path></div>

</div>



</div><!-- div-view-container -->

</div><!-- view-band -->



</div><!-- /.container -->