
 <form name="noticebookimportForm" ng-controller="NoticeBookImportFormCtrl" ng-submit="handleSubmit()">
 
 	<div>
	
	<span>
		<label for="descriptiontext">{{'Description:' | transl}}</label>
		<input type="text" name="description" ng-model="description.text" required>
 	</span>
	
 	<span>
	    <label for="addresstext">{{'Contract address:' | transl}}</label>
		<input type="text" name="address" ng-model="address.text" required>
 	</span>
    
 	
  	<span class="form-actions">
		<button type="submit" >{{'Import' || transl}}</button>
	</span>
 
    </div>
    
    <div role="alert">
    </div>


 </form>