
<form name="noticebookmodifyForm" ng-submit="handleSubmit()">
 
 	<input type="hidden" name="index" ng-model="noticebook.index" required>
 	
 	<div>
	
	<span>
		<label for="booktitle">{{'Title:' | transl}}</label>
		<input type="text" name="booktitle" ng-model="booktitle.text" required>
 	</span>
	
	<span>
		<label for="description">{{'Description:' | transl}}</label>
		<input type="text" name="description" ng-model="description.text" required>
 	</span>
 	
 	</div>
 	<div>
	
	<span>
	    <label for="owner">{{'Owner:' | transl}}</label>
		<input type="text" owner="input" ng-model="owner.text" required>
 	</span>
    
  	<span class="form-actions">
		<button type="submit" >{{'Modify' || transl}}</button>
	</span>
 
    </div>
    
    <div role="alert">
    </div>
</form>

