<form name="noticedeploymentForm" ng-submit="handleSubmit()">
 
 	<input type="hidden" name="index" ng-model="noticebook.index" required>
 	
 	<div>
	
	<span>
		<label for="walletused">{{'Wallet used:' | transl}}</label>
		<input type="text" name="walletused" ng-model="walletused.text" required>
 	</span>
	
 	</div>
 	<div>

	<span>
		<label for="password">{{'Password:' | transl}}</label>
		<input type="password" name="password" ng-model="password.text" required>
 	</span>
 	
	<span>
		<label for="gaslimit">{{'Gas limit:' | transl}}</label>
		<input type="text" name="gaslimit" ng-model="gaslimit.text" required>
	</span>
	
	<span>
		<label for="gasprice">{{'Gas price:' | transl}}</label>
		<input type="text" name="gasprice" ng-model="gasprice.text" required>
	</span>
	
  	<span class="form-actions">
            <button type="submit" >{{'Deploy' || transl}}</button>
	</span>
 
    </div>
    
    <div role="alert">
    </div>
</form>

